@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  box-sizing: border-box;
  font-family: Montserrat;
  background-color: #282828;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffff;
  text-decoration: none;
}

h2 {
  color: #ffff;
  font-size: 1.3em;
  font-weight: 900;
  grid-column: -1/1;
  margin: 10px 10px 10px 10px;
}

.cta-big {
  color: white;
  text-transform: uppercase;
  background-color: #f06332;
  padding: 10px 60px;
  font-size: 1em;
  border-radius: 20px;
}

.cta-big:hover {
  color: #ffff;
  background-color: #404040;
}

.cta-small {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 10px 30px;
  margin: 5px;
  border-color: #ffff;
  border: 1px solid;
  text-align: center;
}

.cta-small-viewmore {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 10px 30px;
  margin: 5px;
  border-color: #ffff;
  border: 1px solid;
  text-align: center;
  float: right;
}

.cta-small:hover {
  color: #f06332;
}

/* Navigation */

.main-nav-1 ul {
  display: grid;
  grid-gap: 0px;
  padding: 5px 10px 10px 5px;
  list-style: none;
  grid-template-columns: repeat(4, 100px);
  justify-content: left;
}

.main-nav-1 a {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.main-nav-1 a:hover {
  color: #f06332;
}

.main-nav-2 ul {
  display: grid;
  grid-gap: 20px;
  padding: 10px 5px 10px 5px;
  list-style: none;
  grid-template-columns: repeat(4, auto);
}

.main-nav-2 a {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.main-nav-2 a:hover {
  color: #f06332;
}

.logo {
  cursor: pointer;
  max-width: 110px;
  grid-column: 2;
  padding: 0;
  margin: 0px 0px 0px 0px;
  align-items: center;
}

.icons {
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(2, 20px);
}

#hamburger-menu {
  display: none;
}

.fa-bars {
  display: none;
}

.fa-heart {
  color: #f06332;
  font-size: 20px;
}

.fa-heart:hover {
  color: #ffff;
}

.fa-shopping-bag {
  color: #f06332;
  font-size: 20px;
}

.fa-shopping-bag:hover {
  color: #ffff;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.menu {
  display: grid;
  grid-gap: 10px;
  box-sizing: border-box;
  background: #404040;
  padding: 10px;
}

.container_textheader {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  color: #b9b8b8;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 200;
  width: auto;
  padding: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.main-nav-2 {
  grid-column: 4;
  grid-row: 1;
  justify-self: end;
}

.main-nav-1 {
  grid-column: 1;
  align-items: center;
}

.icons {
  grid-column: 4;
  justify-self: center;
  align-items: center;
}

.search-btn {
  font-size: 1em;
  border: 1px solid;
  border-color: #ffff;
  border-radius: 50px;
  padding: 5px 40px;
  margin: 0px 20px 30px 0px;
}

.fa-chevron-left {
  font-size: 2em;
}

.fa-search {
  margin: 10px;
}

.back {
  display: grid;
  justify-content: left;
  padding: 10px;
}

.back :hover {
  color: #f06332;
}

.search {
  font-size: 0.9em;
  border: 0.5px solid;
  border-color: rgb(181, 181, 181);
  border-radius: 0px;
  padding: 5px 70px;
  margin: 20px;  
}

.search:hover{
  background-color: #ffff;
  opacity: 80%;
}

.fa-search {
  margin: 10px;
}

.back-search {
  display: grid;
  justify-content: right;
}

.back-search :hover {
  color: #282828;
}

.res_search {
  display: none;
}

/* Cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background-color: #F78E3B;
  box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
  border: 1px solid;
  border-color: #F78E3B;
  transition: 0.3s;
}

.cart.active {
  right: 0;
}

.cart-title {
text-align: center;
font-size: 1.5rem;
font-weight: 600;
margin-top: 2rem;
color: #000000;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem; 
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-production-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid #282828;
  outline-color: #282828;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid #282828;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: #404040;
  color: #ffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover {

  background: #b9b8b8;
}

.cart-remove {
  color: #000000;
  font-size:1rem;
}

.close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
}

/* CONTAINER */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px;
}

.container-1 img {
  width: 400px;
}

h1 {
  color: #ffff;
  font-size: 2em;
  padding: 10px;
  display: flex;
  justify-content: left;
}

.box {
  color: #ffff;
  background-color: #707070;
  width: 400px;
  padding: 4px;
  margin: 10px;
}

.box p {
  font-size: 1em;
}

/* BUTTONS CONTAINER*/
.btns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.browse-games-btn {
  color: #ffff;
  border: 1px solid;
  border-color: #f06332;
  padding: 20px;
  text-align: center;
}

.browse-games-btn a {
  font-size: 1.5em;
  text-transform: uppercase;
}

/* RECENTLY BOUGHT */
.recently-bought-box {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  margin: 20px;
}

.recently-bought img {
  width: 100%;
}

.recently-bought h3 {
  color: #ffff;
  text-align: left;
  font-size: 1em;
  padding: 10px 0px 0px 50px;
}

/* footer */
footer {
  color: #ffff;
  display: flex;
  justify-content: center;
  padding: 90px;
  margin: 10px;
}

@media (max-width: 1300px) {
  .top-container {
    grid-gap: 10px;
  }

  .container-1 img {
    width: 300px;
  }

  .box {
    width: 200px;
  }

  h3 {
    font-size: 0.8em;
  }
}

@media (max-width: 1300px) {
.search {
  display: none;
}
.res_search{
  display: flex;
  color: #f06332;
  font-size: 1em;
  padding: 20px 0px;
}

.logo {
  padding: 0px 150px;
}
}

@media (max-width: 800px) {
  /*  NAVIGATION */

  .main-nav-2 a {
    font-size: 10px;
  }

  .main-nav-1 {
    display: none;
  }

  #hamburger-menu:checked ~ .main-nav-1 {
    display: block;
  }

  .main-nav-1 ul {
    display: flex;
    flex-direction: column;
  }

  .main-nav-1 li {
    padding: 10px;
  }

  .fa-bars {
    display: block;
    font-size: 35px;
    color: #f06332;
    grid-column: 1;
    padding: 20px 10px;
  }

  .logo {
    grid-column: 3;
  }

  /* TOP CONTAINER */

  .top-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  h3 {
    font-size: 0.8em;
  }

  .container-1 img {
    width: 400px;
  }

  .box {
    width: 300px;
  }

  .btns {
    grid-template-columns: repeat(3, 120px);
  }

  .browse-games-btn a {
    font-size: 1em;
  }

  .recently-bought-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 420px) {
  .main-nav-2 a {
    font-size: 0.4em;
  }

  .main-nav-1 {
    display: none;
  }

  .cart{
    right: -120%;
   }

  #hamburger-menu:checked ~ .main-nav-1 {
    display: block;
  }

  .main-nav-1 ul {
    display: flex;
    flex-direction: column;
  }

  .main-nav-1 li {
    padding: 5px;
  }

  .fa-bars {
    display: block;
    font-size: 35px;
    color: #f06332;
    grid-column: 1;
    padding: 20px 10px;
  }

  .logo {
    grid-column: 3;
  }

  .container_textheader {
    font-size: 0.3em;
  }

  .container-1 img {
    width: 200px;
  }

  .box {
    width: 200px;
  }

  .btns {
    grid-template-columns: repeat(3, 80px);
  }

  .browse-games-btn a {
    font-size: 0.6em;
  }
}