@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  box-sizing: border-box;
  font-family: Montserrat;
  background-color: #282828;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffff;
  text-decoration: none;
}

h2 {
  color: #ffff;
  font-size: 1.3em;
  font-weight: 900;
  grid-column: -1/1;
  margin: 10px 10px 10px 10px;
}

.cta-big {
  color: white;
  text-transform: uppercase;
  background-color: #f06332;
  padding: 10px 60px;
  font-size: 1em;
  border-radius: 20px;
}

.cta-big:hover {
  color: #ffff;
  background-color: #404040;
}

.cta-small {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 10px 30px;
  margin: 5px;
  border-color: #ffff;
  border: 1px solid;
  text-align: center;
}

.cta-small-viewmore {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 10px 30px;
  margin: 5px;
  border-color: #ffff;
  border: 1px solid;
  text-align: center;
  float: right;
}

.cta-small:hover {
  color: #f06332;
}

/* Navigation */

.main-nav-1 ul {
  display: grid;
  grid-gap: 0px;
  padding: 5px 10px 10px 5px;
  list-style: none;
  grid-template-columns: repeat(4, 100px);
  justify-content: left;
}

.main-nav-1 a {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.main-nav-1 a:hover {
  color: #f06332;
}

.main-nav-2 ul {
  display: grid;
  grid-gap: 20px;
  padding: 10px 5px 10px 5px;
  list-style: none;
  grid-template-columns: repeat(4, auto);
}

.main-nav-2 a {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.main-nav-2 a:hover {
  color: #f06332;
}

.logo {
  cursor: pointer;
  max-width: 110px;
  grid-column: 2;
  padding: 0;
  margin: 0px 0px 0px 90px;
  align-items: center;
}

.icons {
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(2, 20px);
}

#hamburger-menu {
  display: none;
}

.fa-bars {
  display: none;
}

.fa-heart {
  color: #f06332;
  font-size: 20px;
}

.fa-heart:hover {
  color: #ffff;
}

.fa-shopping-bag {
  color: #f06332;
  font-size: 20px;
}

.fa-shopping-bag:hover {
  color: #ffff;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.menu {
  display: grid;
  grid-gap: 10px;
  box-sizing: border-box;
  background: #404040;
  padding: 10px;
}

.container_textheader {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  color: #b9b8b8;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 200;
  width: auto;
  padding: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.main-nav-2 {
  grid-column: 4;
  grid-row: 1;
  justify-self: end;
}

.main-nav-1 {
  grid-column: 1;
  align-items: center;
}

.icons {
  grid-column: 4;
  justify-self: center;
  align-items: center;
}


.fa-chevron-left {
  font-size: 2em;
}

.fa-search {
  margin: 10px;
}

.back {
  display: grid;
  justify-content: left;
  padding: 10px;
}

.back :hover {
  color: #f06332;
}

.search {
  font-size: 1em;
  border: 0.5px solid;
  border-color: #ffff;
  border-radius: 0px;
  padding: 5px 70px;
  margin: 20px;  
}

.search:hover{
  background-color: #ffff;
  opacity: 80%;
}

.fa-search {
  margin: 10px;
}

.back-search {
  display: grid;
  justify-content: right;
}

.back-search :hover {
  color: #282828;
}

.res_search {
  display: none;
}

/* Cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background-color: #F78E3B;
  box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
  border: 1px solid;
  border-color: #F78E3B;
  transition: 0.3s;
}

.cart.active {
  right: 0;
}

.cart-title {
text-align: center;
font-size: 1.5rem;
font-weight: 600;
margin-top: 2rem;
color: #000000;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem; 
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-production-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid #282828;
  outline-color: #282828;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid #282828;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: #404040;
  color: #ffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover {

  background: #b9b8b8;
}

.cart-remove {
  color: #040404;
  font-size:1rem;
}

.close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
}

.addproduct-tocart {
  background: #F78E3B;
  padding: 20px 60px;
  color: #000000;
  border-radius: 70px;
}

.addproduct-tocart:hover {
  background: #b9b8b8;
  color: #000000;
}

/* TOP CONTAINER*/

.top-container {
  display: grid;
  grid-gap: 10px;
  padding: 30px;
  margin: 20px;
  grid-template-areas:
    "game11 game11 buy-game"
    "game11 game11 buy-game";
}

.game11 {
  grid-area: game11;
  min-height: 500px;
  grid-column: 1/3;
  width: 100%;
}

.product-img {
  width: 100%;
}

.game11 h1 {
  font-size: 2em;
  color: #ffff;
}

.game11 p {
  font-size: 1.3em;
  color: #ffff;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.buy-game {
  grid-area: buy-game;
  width: 300px;
  grid-column: 3;
  grid-row: 1;
  
}

.buy-game img {
  width: 100%;
  border-radius: 70px;
  margin: 30px 0px;
}

.userprofile {
  border: 1px solid;
  border-color: #ffff;
  padding: 10px;
}

.buy-game p {
  font-size: 1em;
  color: #ffff;
}

.Download-btn {
  font-size: 1.8em;
  color: #ffff;
  background-color: #138ba5;
  border: 1px solid;
  border-color: #138ba5;
  margin: 20px 0px;
  padding: 10px;
}

/* ABOUT GAME */

.about-game {
  display: grid;
  grid-template-rows: repeat(4, 0.2fr);
  border: 1px solid;
  border-color: #f06332;
  margin: 60px 10px;
  width: 100%;
  max-width: 500px;
}

.about-game p,
h3 {
  color: #ffff;
}

.box {
  padding: 5px 20px;
}

/* REVIEWS */
.reviews {
  display: grid;
  grid-template-rows: 1fr;
}

.review-1 p,
a {
  color: #ffff;
}

.fa-star {
  color: #dbd07a;
}

/* footer */
footer {
  color: #ffff;
  display: flex;
  justify-content: center;
  padding: 90px;
  margin: 10px;
}

@media (max-width: 1200px) {
  /*  TOP CONTAINER */

  .search {
    display: none;
  }
  .res_search{
    display: block;
    color: #f06332;
    font-size: 1em;
    padding: 20px 0px;
  }

  .logo {
    padding: 0px 150px;
  }

  .top-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 0px;
  }

  .game11 img {
    width: 100%;
    position: relative;
  }

  .game11 p {
    position: relative;
  }

  .game11 {
    padding: 0px 0px 100px 0px;
  }

  .buy-game {
    padding: 10px 10px;
    margin: 20px;
    display: block;
    /* position: relative; */
  }

  .buy-game img {
    width: 50%;
    padding: 20px;
  }

  .buy-game a {
    margin: 15px;
  }

  .Download-btn {
    font-size: 1.2em;
  }

  .buy-game p {
    padding: 10px;
  }
}

@media (max-width: 1000px) {

  #hamburger-menu:checked ~ .main-nav-1 {
    display: block;
  }

  .main-nav-1 {
    display: none;
  }

  .main-nav-1 ul {
    display: flex;
    flex-direction: row;
  }

  .main-nav-1 li {
    padding: 10px;
  }

  .fa-bars {
    display: block;
    font-size: 35px;
    color: #f06332;
    grid-column: 1;
    padding: 20px 10px;
  }

  .about-game {
    width: 400px;
  }
}

@media (max-width: 700px) {
  /*  NAVIGATION */

  .main-nav-2 a {
    font-size: 1em;
  }

  .main-nav-1 {
    display: none;
  }

  #hamburger-menu:checked ~ .main-nav-1 {
    display: block;
  }

  .main-nav-1 ul {
    display: flex;
    flex-direction: column;
  }

  .main-nav-1 li {
    padding: 10px;
  }

  .fa-bars {
    display: block;
    font-size: 35px;
    color: #f06332;
    grid-column: 1;
    padding: 20px 10px;
  }

  .logo {
    grid-column: 3;
    padding: 0px 0px;
  }

  /*  TOP CONTAINER */

  .top-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .game11 img {
    width: 100%;
    background-size: cover;
    position: relative;
  }

  .buy-game {
    padding: 5px 10px;
    margin: auto;
    display: block;
  }

  .buy-game img {
    width: 50%;
    padding: 20px;
  }

  .buy-game a {
    margin: 15px;
  }

  .Download-btn {
    font-size: 1.2em;
  }

  .buy-game p {
    padding: 10px;
  }
}

@media (max-width: 420px) {
  .main-nav-2 a {
    font-size: 0.4em;
  }

  .main-nav-1 {
    display: none;
  }

  #hamburger-menu:checked ~ .main-nav-1 {
    display: block;
  }

  .main-nav-1 ul {
    display: flex;
    flex-direction: column;
  }

  .main-nav-1 li {
    padding: 5px;
  }

  .fa-bars {
    display: block;
    font-size: 25px;
    color: #f06332;
    grid-column: 1;
    padding: 20px 10px;
  }

  .logo {
    grid-column: 3;
  }

  .container_textheader {
    font-size: 0.3em;
  }

  .menu {
    grid-gap: 0px;
  }

  .wrapper {
    grid-gap: 0px;
  }

  .about-game {
    width: 300px;
  }
}